.ui-top-content-search {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 16px 0 16px;
    height: fit-content;
}

.ui-top-header-search {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-div {
    overflow-x: auto;
    overflow-y: visible;
    padding: 10px 16px 10px 16px;
    white-space: nowrap;
}

.ui-network-labels p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.12px;
    color: #5F72FF;
}

.ui-table-label {
    text-align: left;
    color: #777777;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.table-div table {
    border-spacing: 0;
}

.table-div td {
    white-space: nowrap;
    padding: 13px 16px 13px 0;
    background: #fff;
}

.table-div table td:first-of-type {
    padding-left: 16px;
}

.table-div th {
    text-align: left;
}

.ui-content-row td {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.ui-content-row td:first-of-type {
    border-left: 1px solid #f0f0f0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ui-content-row td:last-of-type {
    border-right: 1px solid #f0f0f0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-multi-row .ui-content-row td {
    border-radius: 0;
}

.ui-multi-row .ui-content-row td {
    border-bottom: 0;
}

.ui-multi-row tr:nth-of-type(3) td:first-of-type {
    border-top-left-radius: 10px;
}

.ui-multi-row tr:nth-of-type(3) td:last-of-type {
    border-top-right-radius: 10px;
}

.ui-multi-row tr:last-of-type td {
    border-bottom: 1px solid #f0f0f0;
}

.ui-multi-row tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

.ui-multi-row tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.table-div tr:nth-of-type(2) td {
    background: inherit;
    padding: 10px 0 5px 0;
}

.ui-inactive {
    opacity: 0.2;
}

.ui-network-status-container {
    display: flex;
    align-items: center;
}

.ui-network-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #5F72FF;
    border-radius: 50%;
    margin-right: 16px;
    display: none;
}

.ui-display-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-icon-checked {
    background: #5F72FF;
}

.ui-check-icon {
    width: 15px;
    height: 15px;
}

.ui-network-image-container {
    border-radius: 50%;
    border: 2px solid #d0cdcd;
    margin-right: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-network-image {
    width: 19px;
    height: 19px;
}

.ui-network-label-container {
    margin: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #333;
}

.ui-network-status {
    display: flex;
    align-items: center;
    margin: 5px;
}

.ui-active-field {
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    height: 14px;
    background: #6ee294;
    border: 1px solid #6ee294;
    margin-right: 9px;
    color: #fff;
    border-radius: 40px;
    font-size: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-vip-clients-field {
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
    height: 13px;
    background: #fff;
    border: 1px solid #d0cdcd;
    margin-right: 9px;
    color: #94beec;
    border-radius: 40px;
    font-size: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-more-field {
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
    height: 13px;
    background: #fff;
    border: 1px solid #d0cdcd;
    margin-right: 9px;
    color: #aba8a8;
    border-radius: 40px;
    font-size: 8px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ui-basic-row-item {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.16px;
}

.ui-traffic-speed {
    display: flex;
    flex-direction: column;
}

.ui-flex-center {
    display: flex;
    align-items: center;
}