ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-org-top-header {
    height: 50px;
}

.ui-org-label {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #777;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-org-list {
    margin: 0 8px 0 8px;
}

.ui-org-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ui-list-image-wrapper {
    display: flex;
    align-items: center;
}

.ui-list-label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ui-list-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ui-org-logo {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.ui-org-list-label {
    color: #444;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.ui-org-list-text {
    margin-bottom: 2px;
    color: #777777;
    font-size: 12px;
    font-weight: 600;
}

.ui-org-arrow {
    margin-left: 15px;
}