@font-face {
    font-family: "SF Text";
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

body {
    margin: 0;
    letter-spacing: 0.15px;
    color: #555;
    font-family: "SF Text";
}

h3,
h1,
p {
    margin: 0;
}

.ui-flex {
    display: flex;
}

.ui-layout {
    display: flex;
}

.ui-sidebar {
    position: fixed;
    min-width: 220px;
    background: white;
    border-right: 1px solid #f0f0f0;
    min-height: 100vh;
}

.ui-logo-box {
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 80px;
    margin-top: 15px
}

.ui-logo-small {
    width: 21px;
    border: 2px solid #dddddd;
    padding: 8px;
    border-radius: 10px;
    margin-right: 8px
}

.ui-logo-label {
    font-weight: 600;
    color: #444;
    font-size: 17px;
}

.ui-vertical-menu a {
    color: #444444;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    height: 20px;
}

.ui-menu-spacing {
    margin-bottom: 20px;
}

.ui-menu-label {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 0 8px 16px;
    color: #6B6B6B;
    font-size: 10px;
    font-weight: 600;
}

.ui-vertical-menu img {
    margin-right: 10px;
    width: 19px;
}

.ui-user {
    display: flex;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 188px;
    font-weight: 600;
    font-size: 13px;
    color: #444;
    padding: 16px;
    letter-spacing: -0.16px;
}

.ui-user img {
    width: 30px;
    height: 30px;
    background: #D5D5D5;
    margin-right: 10px;
    border-radius: 50%;
}

.ui-top-content {
    background: #fafafa;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    margin-left: 220px;
}

.ui-top-header {
    border-bottom: 1px solid #f0f0f0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
}

.ui-name-label {
    font-weight: 600;
    color: #6779ff;
    font-size: 17px;
}

.ui-main-label {
    font-weight: 600;
    font-size: 17px;
}

.ui-header-icons {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.header-icons-active {
    background: #5f72ff;
    padding: 4px 7px 2px 7px;
    border-radius: 10px;
}

.ui-center-content {
    padding: 0 8px 0 8px;
    display: flex;
    flex-flow: column wrap;
    height: 830px;
}

.ui-box {
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px;
    border-collapse: collapse;
    box-sizing: border-box;
    width: calc(50% - 16px);
}

.ui-icon-box {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 17px 0 9px 17px;
}

.ui-icon-box p:nth-of-type(2) {
    margin-top: 13px;
    font-size: 11px;
    color: gray;
}

.ui-top-boxes {
    padding: 8px 8px 0 8px;
    display: flex;
}

.ui-box-image-wrapper {
    height: 40px;
}

.ui-arrow {
    display: none;
}


/**/

.ui-progress-box {
    padding: 16px 35px 16px 35px;
    display: flex;
    justify-content: space-between;
}

.ui-utilization {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ui-utilization-labels {
    font-weight: 600;
    font-size: 10px;
    color: #888888;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
}

.ui-utilization div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.ui-speed {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
}

.ui-speed-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin: 4px;
}

.ui-speed-inner img {
    width: 10px;
    height: 10px;
}

.ui-speed-label-green {
    font-weight: 600;
    font-size: 10px;
    color: #56B274;
    margin-left: 2px;
}

.ui-speed-label-blue {
    font-weight: 600;
    font-size: 10px;
    color: #5F72FF;
    margin-left: 2px;
}

.ui-meter {
    height: 16px;
    position: relative;
    background: #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.ui-progress-gradient {
    height: 12px;
    position: relative;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-left: 10px;
}

.ui-progress-bar-big {
    display: flex;
    align-items: center;
}

.ui-progress-bar-small {
    display: flex;
    overflow: hidden;
    border: 1px solid #e8e4e4;
    width: 140px;
}

.ui-progress-bar-big span {
    width: 55%;
    text-align: right;
}

.ui-progress-bar-big p {
    margin-right: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    font-style: normal;
    letter-spacing: 0.12px;
}

.ui-progress-bar-big div {
    height: 21px;
    width: 2px;
    background: #808080;
}

.ui-meter>span {
    display: block;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #979797;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ui-progress-number {
    width: 80%;
    background: transparent;
    font-weight: 600;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.ui-progress-number p:first-of-type {
    position: relative;
    left: 43px;
}

.ui-progress-number p:nth-of-type(2) {
    position: relative;
    left: 84px;
}

.ui-progress-number p:nth-of-type(3) {
    position: relative;
    left: 117px;
}

.ui-gradient-green {
    background: linear-gradient(to right, #d4f7df 33%, #a8eebf 33% 66%, #6ee294 66%);
}

.ui-gradient-blue {
    background: linear-gradient(to right, rgba(95, 114, 255, 0.3) 33%, rgba(95, 114, 255, 0.6) 33% 66%, rgba(95, 114, 255, 0.8) 66%);
}

.ui-progress-background {
    background: white;
    width: 30%;
}

.ui-info-box {
    padding: 16px 20px 16px 20px;
    display: flex;
    justify-content: space-between;
}

.ui-bar-container {
    height: 53px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui-bar-container-label {
    font-size: 9px;
    width: 85px;
    font-weight: 600;
    color: #8b8b8b;
}

.ui-smiley-image {
    height: 22px;
    margin-right: 8px;
}

.ui-smiley-bar {
    display: flex;
    align-items: center;
}

.ui-data-info {
    display: flex;
    justify-content: space-between;
    width: 84px;
    font-size: 9px;
    font-weight: 600;
    color: #8b8b8b;
    position: absolute;
    top: 22px;
}

.ui-data-bar {
    display: flex;
    align-items: center;
    height: 22px;
}

.ui-bar-green {
    width: 2px;
    height: 16px;
    background: #6ee294;
    border: 1px solid #6ee294;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-green-empty {
    width: 3px;
    height: 16px;
    border: 1px solid #6ee294;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange {
    width: 2px;
    height: 16px;
    border: 1px solid #f5a623;
    background: #f5a623;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange-empty {
    width: 3px;
    height: 16px;
    border: 1px solid #f5a623;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-dot-container {
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 600;
    color: #8b8b8b;
}

.ui-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.ui-dot-red {
    background-color: #ff3563;
}

.ui-dot-green {
    background-color: #6ee294;
}

.ui-column-break {
    flex-basis: 100%;
    width: 0;
}

.ui-vertical-menu a:hover {
    background-color: #eeeeee;
    border-right: 4px solid #5f72ff;
}

.active {
    background-color: #eeeeee;
    border-right: 4px solid #5f72ff;
}

.vertical-menu-right a {
    color: #444444;
    text-decoration: none;
    padding: 10px 16px 10px 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

.vertical-menu-right p:nth-of-type(2) {
    color: #8b8b8b;
    text-align: right;
}

.vertical-menu-right p:first-of-type {
    text-align: left;
}

.ui-blue-item p:nth-of-type(2) {
    color: #6779ff;
}

.ui-green-item p:nth-of-type(2) {
    color: #87e7a7;
}

.ui-blue-text {
    color: #6779ff;
}

.ui-support-info-text {
    padding: 10px 16px 10px 16px;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

@media only screen and (max-width: 1351px) {
    .ui-top-boxes {
        margin: 16px 16px 8px 16px;
        padding: 0;
        display: block;
        background: white;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        overflow: hidden;
        border-collapse: collapse;
        box-sizing: border-box;
        width: calc(100% - 32px);
    }
    .ui-top-boxes .ui-box {
        border: 0;
        margin: 0;
        border-radius: 0;
    }
    .ui-arrow {
        display: block;
        float: right;
    }
    .ui-box-image-wrapper {
        display: flex;
        align-items: center;
        height: 20px;
    }
    .ui-img-fix {
        margin-left: 3px;
    }
    .ui-top-boxes .ui-icon-box {
        padding: 10px 16px 10px 16px;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 600;
        width: 100%;
    }
    .ui-icon-box p:nth-of-type(2) {
        display: none;
    }
    .ui-icon-box p:first-of-type {
        display: inline;
        margin-right: 8px;
    }
    .ui-center-content {
        height: unset;
    }
    .ui-center-content .ui-box {
        width: calc(100% - 16px);
    }
    #utilization {
        order: 1;
    }
    #map {
        order: 2;
    }
    #bandwidth-usage {
        order: 3;
    }
    #data-transfer {
        order: 4;
    }
    #health {
        order: 5;
    }
    #info-bars {
        order: 6;
    }
    #right-menu {
        order: 7;
    }
    #support-info {
        order: 8;
    }
}