body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    color: #555;
}

h3,
h1,
p {
    margin: 0;
}

.ui-flex {
    display: flex;
}

.ui-layout {
    display: flex;
}

.ui-sidebar {
    width: 15%;
    min-width: 210px;
    background: white;
    border-right: 1px solid #f0f0f0
}

.ui-logo-box {
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 80px;
    margin-top: 15px
}

.ui-logo-small {
    width: 21px;
    border: 2px solid #dddddd;
    padding: 8px;
    border-radius: 10px;
    margin-right: 8px
}

.ui-logo-label {
    font-weight: 600;
    color: #444;
    font-size: 17px;
}

.ui-vertical-menu a {
    color: #444444;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 20px;
}

.ui-menu-spacing {
    margin-bottom: 20px;
}

.ui-menu-label {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 0 8px 16px;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 600;
}

.ui-vertical-menu img {
    margin-right: 10px;
    width: 19px;
}

.ui-top-content {
    background: #fafafa;
    width: 100%;
}

.ui-top-header {
    border-bottom: 1px solid #f0f0f0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
}

.ui-name-label {
    font-weight: 600;
    color: #6779ff;
    font-size: 17px;
}

.ui-main-label {
    font-weight: 600;
    font-size: 17px;
}

.ui-header-icons {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.header-icons-active {
    background: #5f72ff;
    padding: 4px 7px 2px 7px;
    border-radius: 10px;
}

.ui-center-content {
    padding: 0 8px 0 8px;
    display: flex;
    flex-flow: column wrap;
    height: 830px;
}

.ui-box {
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px;
    border-collapse: collapse;
    box-sizing: border-box;
    width: calc(50% - 16px);
}

.ui-icon-box {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 17px 0 9px 17px;
}

.ui-icon-box p:nth-of-type(2) {
    margin-top: 13px;
    font-size: 11px;
    color: gray;
}

.ui-top-boxes {
    padding: 8px 8px 0 8px;
    display: flex;
}

.ui-box-image-wrapper {
    height: 40px;
}

.ui-arrow {
    display: none;
}


/**/

.ui-progress-box {
    padding: 16px 35px 16px 35px;
    display: flex;
    justify-content: space-between;
}

.ui-utilization {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ui-utilization div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.ui-speed {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
}

.ui-meter {
    height: 12px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.ui-progress-bar-big {
    display: flex;
    align-items: center;
}

.ui-progress-bar-small {
    display: flex;
    overflow: hidden;
    border: 1px solid #e8e4e4;
    width: 140px;
}

.ui-progress-bar-big span {
    width: 55%;
    text-align: right;
}

.ui-progress-bar-big p {
    margin-right: 10px;
}

.ui-progress-bar-big div {
    height: 30px;
    width: 3px;
    background: black;
}

.ui-meter>span {
    display: block;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    position: relative;
}

.ui-progress-number {
    height: 52px;
    text-align: center;
    width: 80%;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 600;
    color: #8b8b8b;
}

.ui-progress-number p:first-of-type {
    position: relative;
    left: 43px;
}

.ui-progress-number p:first-of-type {
    position: relative;
    left: 84px;
}

.ui-progress-number p:first-of-type {
    position: relative;
    left: 117px;
}

.ui-gradient-green {
    background: linear-gradient(to right, #d4f7df 33%, #a8eebf 33% 66%, #6ee294 66%);
}

.ui-progress-background {
    display: block;
    position: relative;
    background: white;
    width: 20%;
    position: initial;
    border-radius: unset;
}

.ui-info-box {
    padding: 16px 20px 16px 20px;
    display: flex;
    justify-content: space-between;
}

.ui-bar-container {
    height: 53px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui-bar-container-label {
    font-size: 9px;
    width: 85px;
    font-weight: 600;
    color: #8b8b8b;
}

.ui-smiley-image {
    height: 22px;
    margin-right: 8px;
}

.ui-smiley-bar {
    display: flex;
    align-items: center;
}

.ui-data-info {
    display: flex;
    justify-content: space-between;
    width: 84px;
    font-size: 9px;
    font-weight: 600;
    color: #8b8b8b;
    position: absolute;
    top: 22px;
}

.ui-data-bar {
    display: flex;
    align-items: center;
    height: 22px;
}

.ui-bar-green {
    width: 2px;
    height: 16px;
    background: #6ee294;
    border: 1px solid #6ee294;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-green-empty {
    width: 3px;
    height: 16px;
    border: 1px solid #6ee294;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange {
    width: 2px;
    height: 16px;
    border: 1px solid #f5a623;
    background: #f5a623;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange-empty {
    width: 3px;
    height: 16px;
    border: 1px solid #f5a623;
    border-radius: 5px;
    margin: 0 1.6px 0 1.6px;
}

.ui-dot-container {
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 600;
    color: #8b8b8b;
}

.ui-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.ui-dot-red {
    background-color: #ff3563;
}

.ui-dot-green {
    background-color: #6ee294;
}

.ui-column-break {
    flex-basis: 100%;
    width: 0;
}

.ui-vertical-menu a:hover {
    background-color: #eeeeee;
    border-right: 4px solid #5f72ff;
}

.ui-vertical-menu a.active {
    background-color: #eeeeee;
    border-right: 4px solid #5f72ff;
}

.vertical-menu-right a {
    color: #444444;
    text-decoration: none;
    padding: 10px 16px 10px 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

.vertical-menu-right p:nth-of-type(2) {
    color: #8b8b8b;
    text-align: right;
}

.vertical-menu-right p:first-of-type {
    text-align: left;
}

.ui-blue-item p:nth-of-type(2) {
    color: #6779ff;
}

.ui-green-item p:nth-of-type(2) {
    color: #87e7a7;
}

.ui-blue-text {
    color: #6779ff;
}

.ui-support-info-text {
    padding: 10px 16px 10px 16px;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

@media only screen and (max-width: 1351px) {
    .ui-top-boxes {
        margin: 16px 16px 8px 16px;
        padding: 0;
        display: block;
        background: white;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        overflow: hidden;
        border-collapse: collapse;
        box-sizing: border-box;
        width: calc(100% - 32px);
    }
    .ui-top-boxes .ui-box {
        border: 0;
        margin: 0;
        border-radius: 0;
    }
    .ui-arrow {
        display: block;
        float: right;
    }
    .ui-box-image-wrapper {
        display: flex;
        align-items: center;
        height: 20px;
    }
    .ui-img-fix {
        margin-left: 3px;
    }
    .ui-top-boxes .ui-icon-box {
        padding: 10px 16px 10px 16px;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 600;
        width: 100%;
    }
    .ui-icon-box p:nth-of-type(2) {
        display: none;
    }
    .ui-icon-box p:first-of-type {
        display: inline;
        margin-right: 8px;
    }
    .ui-center-content {
        height: unset;
    }
    .ui-center-content .ui-box {
        width: calc(100% - 16px);
    }
    #utilization {
        order: 1;
    }
    #map {
        order: 2;
    }
    #bandwidth-usage {
        order: 3;
    }
    #data-transfer {
        order: 4;
    }
    #health {
        order: 5;
    }
    #info-bars {
        order: 6;
    }
    #right-menu {
        order: 7;
    }
    #support-info {
        order: 8;
    }
}