.ui-label-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.ui-name-label {
    font-weight: 600;
    color: #6779ff;
    font-size: 17px;
}

.ui-main-label {
    font-weight: 600;
    font-size: 17px;
}