.ui-utilization {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ui-label-container {
  display: flex;
  justify-content: space-between;
}

.ui-utilization-label {
  font-weight: 600;
  font-size: 10px;
  color: #888888;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.ui-progress-bar-big {
  display: flex;
  align-items: center;
}

.ui-progress-meter {
  height: 15px;
  background: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.ui-progress-fill {
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #979797;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ui-progress-big-number {
  margin-right: 10px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  font-style: normal;
  letter-spacing: 0.12px;
}

.ui-progress-end {
  height: 21px;
  width: 2px;
  background: #808080;
}